* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-size: 24px;
	line-height: 32px;
	color: #333;
}

header {
	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
}

footer {
	background: #ccc;
	padding: 20px;
	clear: both;
	text-align: center;
}

aside {
	float: left;
	width: 33%;
	margin-left: 30px;
	padding: 20px;
	height: 200px;
	background: #fff;
	border: 1px solid #eee;
}


h1,h2,h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h4 {
	color:#4aaaa5;
	background-color: #FFFFFF;
}

#main {
	float: left;
	width: 33.3%;
	background: #FFFFFF;
	color: #fff;
}

#connect {
	float: left;
	width: 33.3%;
	background: #FFFFFF;
	color: #fff;
}

.highlight {
   color:#4aaaa5;
   background-color: #FFFFFF;
}