* {
  box-sizing: border-box;
  text-align: center;
}

body {
	margin: 0;
  	height:100%;
    width: 100%;
    background-image: url("../images/background.gif");
    background-repeat: repeat;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
	background: #FFFFFF;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
}

footer {
	height: 50px;
	background: #ccc;
	padding: 20px;
	clear: both;
	text-align: center;
}

aside {
	float: left;
	width: 33%;
	margin-left: 30px;
	padding: 20px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
}


h1,h2,h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h4 {
	color:#4aaaa5;
	background-color: #FFFFFF;
}

#main {
	float: left;
	width: 33.3%;
	padding: 20px;
	margin-left: 50px;
	background: #FFFFFF;
}

#connect {
	float: left;
	width: 33.3%;
	background: #FFFFFF;
}

.highlight {
   color:#4aaaa5;
   background-color: #FFFFFF;
}